.coinSwiper{
  border-radius:20px;
  background: rgba(4, 218, 216, 0.27);
  height:180px;
  padding:25px;
  width:100%;
}

.coinCampaign{
  bottom:50px;
  width:100%;
}

.mainBanner{
  height:700px;
  background: #250D72;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;

}

.bannerContent{
  width:100%;
  height:calc(100% - 50px);
  color:white;
  top:100px;
  padding:0 100px;
}

